<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PR'd - Simple PR Tracking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>439CC75E1CD97C2700891E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>439CC7741CD97C2800891E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>439CC77F1CD97C2800891E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
